/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { min-height:100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.d-flex{
    display: flex !important;
    justify-content: baseline !important;
    
   
}
.d-center{
    display: flex !important;
    justify-content: center !important;
}


.d-vertical {
    display: flex!important;
    align-items: center!important;
    align-content: center!important;
}
.f-right{
    position: absolute !important;
    right: 0;
}.f-top{
    position: absolute !important;
    top: 0;
}

.p-relative{
    position: relative;
}


.h25 {
    height: 25%!important;
    }
    
    .h50 {
    height: 50%!important;
    }
    
    .h75 {
    height: 75%!important;
    }
    
    .h100 {
    height: 100%!important;
    }
    
    .p{
    text-align: justify;
    }
    /* #toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left:7%;  
    } */
    .mg0 {
        margin: 0 auto !important;
    }
    
    .mt0,
    .my0 {
        margin-top: 0 !important;
    }
    
    .mr0,
    .mx0 {
        margin-right: 0 !important;
    }
    
    .mb0,
    .my0 {
        margin-bottom: 0 !important;
    }
    
    .ml-0,
    .mx0 {
        margin-left: 0 !important;
    }
    
    .mg1 {
        margin: 0.25rem !important;
    }
    
    .mt1,
    .my1 {
        margin-top: 0.25rem !important;
    }
    
    .mr1,
    .mx1 {
        margin-right: 0.25rem !important;
    }
    
    .mb1,
    .my1 {
        margin-bottom: 0.25rem !important;
    }
    
    .ml1,
    .mx1 {
        margin-left: 0.25rem !important;
    }
    
    .mg2 {
        margin: 0.5rem !important;
    }
    
    .mt2,
    .my2 {
        margin-top: 0.5rem !important;
    }
    
    .mr2,
    .mx2 {
        margin-right: 0.5rem !important;
    }
    
    .mb2,
    .my2 {
        margin-bottom: 0.5rem !important;
    }
    
    .ml2,
    .mx2 {
        margin-left: 0.5rem !important;
    }
    
    .mg3 {
        margin: 1rem !important;
    }
    
    .mt3,
    .my3 {
        margin-top: 1rem !important;
    }
    
    .mr3,
    .mx3 {
        margin-right: 1rem !important;
    }
    
    .mb3,
    .my3 {
        margin-bottom: 1rem !important;
    }
    
    .ml3,
    .mx3 {
        margin-left: 1rem !important;
    }
    
    .mg4 {
        margin: 1.5rem !important;
    }
    
    .mt4,
    .my4 {
        margin-top: 1.5rem !important;
    }
    
    .mr4,
    .mx4 {
        margin-right: 1.5rem !important;
    }
    
    .mb4,
    .my4 {
        margin-bottom: 1.5rem !important;
    }
    
    .ml4,
    .mx4 {
        margin-left: 1.5rem !important;
    }
    
    .mg5 {
        margin: 3rem !important;
    }
    
    .mt5,
    .my5 {
        margin-top: 3rem !important;
    }
    
    .mr5,
    .mx5 {
        margin-right: 3rem !important;
    }
    
    .mb5,
    .my5 {
        margin-bottom: 3rem !important;
    }
    
    .ml5,
    .mx5 {
        margin-left: 3rem !important;
    }
    
    .p0 {
        padding: 0 !important;
    }
    
    .pt0,
    .py0 {
        padding-top: 0 !important;
    }
    
    .pr0,
    .px0 {
        padding-right: 0 !important;
    }
    
    .pb0,
    .py0 {
        padding-bottom: 0 !important;
    }
    
    .pl0,
    .px0 {
        padding-left: 0 !important;
    }
    
    .p1 {
        padding: 0.25rem !important;
    }
    
    .pt1,
    .py1 {
        padding-top: 0.25rem !important;
    }
    
    .pr1,
    .px1 {
        padding-right: 0.25rem !important;
    }
    
    .pb1,
    .py1 {
        padding-bottom: 0.25rem !important;
    }
    
    .pl1,
    .px1 {
        padding-left: 0.25rem !important;
    }
    
    .p2 {
        padding: 0.5rem !important;
    }
    
    .pt2,
    .py2 {
        padding-top: 0.5rem !important;
    }
    
    .pr2,
    .px2 {
        padding-right: 0.5rem !important;
    }
    
    .pb2,
    .py2 {
        padding-bottom: 0.5rem !important;
    }
    
    .pl2,
    .px2 {
        padding-left: 0.5rem !important;
    }
    
    .p3 {
        padding: 1rem !important;
    }
    
    .pt3,
    .py3 {
        padding-top: 1rem !important;
    }
    
    .pr3,
    .px3 {
        padding-right: 1rem !important;
    }
    
    .pb3,
    .py3 {
        padding-bottom: 1rem !important;
    }
    
    .pl3,
    .px3 {
        padding-left: 1rem !important;
    }
    
    .p4 {
        padding: 1.5rem !important;
    }
    
    .pt4,
    .py4 {
        padding-top: 1.5rem !important;
    }
    
    .pr4,
    .px4 {
        padding-right: 1.5rem !important;
    }
    
    .pb4,
    .py4 {
        padding-bottom: 1.5rem !important;
    }
    
    .pl4,
    .px4 {
        padding-left: 1.5rem !important;
    }
    
    .p5 {
        padding: 3rem !important;
    }
    
    .pt5,
    .py5 {
        padding-top: 3rem !important;
    }
    
    .pr5,
    .px5 {
        padding-right: 3rem !important;
    }
    
    .pb5,
    .py5 {
        padding-bottom: 3rem !important;
    }
    
    .pl5,
    .px5 {
        padding-left: 3rem !important;
    }
    
    .ma {
        margin: auto !important;
    }
    
    .mta,
    .mya {
        margin-top: auto !important;
    }
    
    .mra,
    .mxa {
        margin-right: auto !important;
    }
    
    .mba,
    .mya {
        margin-bottom: auto !important;
    }
    
    .mla,
    .mxa {
        margin-left: auto !important;
    }
    
    a, i{
        cursor: pointer;
    }

    a{
       text-decoration: none; 
    }
    .yalign {
        vertical-align: middle;
    }
    
    .xalign {
        align-self: center;
        /* margin-right: auto;
        margin-left: auto; */
    }
    .bt {
      border-top: 1px solid #cfcece;
    }
    .br {
        border-right: 1px solid #cfcece;
    }
    .bb {
        border-bottom: 1px solid #cfcece;
      }
    .b {
        border: 1px solid #cfcece;
    }
    .bl {
        border-left: 1px solid #e62222;
    }
    
    @media screen and (max-width: 600px) {
        .hide-med-and-down {
            display: none!important;
        }
        .show-med-and-down {
            display: block!important;
        }
    }
    
    
    @media screen and (min-width: 601px){
        .hide-med-and-up {
            display: none!important;
        }
    }
    
    .over-y {
        overflow-y: auto!important;
        height: 100%!important;
    }
      ::-webkit-scrollbar {
        width: 7px;
        height: 0px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1; 
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #888; 
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: rgb(184, 183, 183); 
      }
    
      .bold {
          font-weight: bold;
      }
    
      .italic {
          font-style: italic;
      }
      .secondary-t {
          color: #b3b3b3
      }
    
      .block{
          display: block !important;
      }
      .inline {
          display: inline-block !important;
      }
      .hide{
          display: none;
      }