<header>
    <div class="half">
        <div class="p5">
            <mat-toolbar class="flex p4 header">
                <a id="logo">
                    <!-- <h1>Jonathan González</h1> -->
                    <img class="mt3" src="../../../assets/jg.png" alt="">

                </a>

                <nav class="flex">
                    <a class="hover active" href="">Inicio</a>
                    <a class="hover" href="">Blog</a>
                    <a class="hover" href="">Contacto</a>
                </nav>

            </mat-toolbar>
            <article class="px5 width" >
                <p id="name">Soy Jonathan.</p>

                <p id="detail">
                    Soy desarrollador web full-stack, he colaborado en diversas empresas mediante la creación de sistemas a la medida con tecnologias .Net, Angular, jQuery.
                    Mi principal ocupación es ser un estudiante permamente y estoy convencido de que estamos en una de las mejores epocas de la humanidad gracias a la revolucion tecnologica.
                </p>

            </article>
        </div>
    </div>

    <div class="half-photo" id="photo">
            <img src="https://image.shutterstock.com/image-vector/default-avatar-profile-icon-grey-260nw-518740741.jpg">

    </div>
</header>